.song-list {
  padding: 0px 15px;
  position: relative;
}

.song-column {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 20px;
}
.song-column:first-child {
  box-shadow: 1px 1px 20px thistle;
}
.song-column:first-child > .song-img i {
  position: absolute;
  top: 35px;
  left: 67px;
}
.song-column:last-child {
  margin-bottom: 3px;
}
.song-img img {
  height: 60px;
  width: 60px;
  border-radius: 10px;
}

.song-column:first-child > .song-img img {
  filter: grayscale(40%);
}
.song-column:nth-child(2) > .song-img img {
  margin-right: 5px;
}
